.container {
    background: lightgrey;
    width: 60%;
    height: 400px;
    margin: 5rem auto;

    h1 {
        padding: 1rem;
    }

    .to-do {
        width: inherit;
        margin: 2rem auto;
    }
}

